# Ignore artifacts
build
coverage
flow-typed
public
disty
historical_runs

# Ignore non-js files
Dockerfile
*.json
*.py
*.sh

# Ignore dotfiles & dotdirectories
.vscode
.husky
.git

.gitignore
.dockerignore
.prettierignore
.flowconfig